fastapi
uvicorn
httpx
pillow
python-multipart
python-dotenv
supabase
pydantic
sqlalchemy
asyncpg
psycopg2-binary
databases
sqlalchemy-utils
fastapi-utils
fastapi-pagination
fastapi-security
fastapi-logger
fastapi-cache
fastapi-mail
fastapi-jwt-auth    